.item {
  height: 100vh;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__text {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  color: #393c41;
  align-items: center;
  flex: 1;
}

.item__textDesc {
  font-weight: 200;
  font-size: 14px;
}

.item__lowerThird {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.item__buttons {
  display: flex;
}

.item__expand {
  color: black;
  width: 100%;
  margin-top: 3%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .item__container {
    margin-top: 20%;
  }

  .item__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }
  .item__text {
    margin-top: 0%;
  }
}
